<h1><%= "#{@artist.name} (#{@artist.id})" %></h1>

<h3>Biography</h3>
<p><%= @artist.bio %></p>

<h3>Songs</h3>
<ul>
  <% @artist.songs.each do |song| %>
  <li><%= link_to song.name, song %></li>
  <% end %>
</ul>

<hr />
<%= link_to "Artists", artists_path %> | <%= link_to "Create Artist", new_artist_path %>

<div style="position: absolute; right: 0; top:0; padding:10px;">
<%= link_to "Edit #{@artist.name}", edit_artist_path(@artist) %>
</div>

</div>
